{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <div class="row justify-content-center">
    {% for sweatshirt in sweatshirtsTop %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            {% include 'partials/sweatshirtCard.html.twig' %}
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}
