{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <h1>Accueil</h1>
    <a href="{{path('products')}}">Produits</a>
    <div>
    </div>
</main>
{% endblock %}
