{% extends 'base.html.twig' %}

{% block title %}Confirmation requise{% endblock %}

{% block body %}
    <main class="d-flex flex-column align-items-center">
    <h1>Merci de confirmer votre adresse email</h1>
    <p>Un email de confirmation vient de vous être envoyé. Cliquez sur le lien pour activer votre compte.</p>
    </main>
{% endblock %}