<footer>
    <address>
        Nom de la société : Stubborn<br/>
        Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni<br/>
        Adresse de contact :<a href="mailto:stubborn@blabla.com"> stubborn@blabla.com</a>
    </address>
</footer>