<div>
    <!-- <img src="" alt=""> -->
    <div>
        <div>
            <h2>{{sweatshirt.name}}</h2>
            <span>{{sweatshirt.price}}</span>
        </div>
        <a href="{{ path('product.show', {'id': sweatshirt.id}) }}">Voir</a>
    </div>
</div>