{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<main>
    <h1 class="m-3">Produits</h1>
    <div class="btn-group m-3">
        <a href= "{{ path('products.index', {price:'10-29'}) }}" class="btn btn-outline-primary">10€ - 29€</a>
        <a href= "{{ path('products.index', {price:'29-35'}) }}" class="btn btn-outline-primary">29€ - 35€</a>
        <a href= "{{ path('products.index', {price:'35-50'}) }}" class="btn btn-outline-primary">35€ - 50€</a>
        <a href= "{{ path('products.index', {price:'19-50'}) }}" class="btn btn-outline-primary">Tous</a>
    </div>
    <div class="row">
        {% for sweatshirt in sweatshirts %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                {% include 'partials/sweatshirtCard.html.twig' with {'sweatshirt': sweatshirt} %}
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
