{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<h1>Produits</h1>
<div class="row">
    {% for sweatshirt in sweatshirts %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            {% include 'partials/sweatshirtCard.html.twig' with {'sweatshirt': sweatshirt} %}
        </div>
    {% endfor %}
</div>    
{% endblock %}
