{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<h1>Produits</h1>
<a href='{{path('home')}}'>Accueil</a>
{% for sweatshirt in sweatshirts %}
    {% include 'partials/sweatshirtCard.html.twig' %}
{% endfor %}
{% endblock %}
