{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<h1>Produit</h1>
<a href='{{path('home')}}'>Accueil</a>
<div>
    <!-- <img src="" alt=""> -->
    <div>
        <div>
            <div>
                <h2>{{sweatshirt.name}}</h2>
                <span>{{sweatshirt.price}}</span>
            </div>
            <!-- <form id=form-size> -->
        </div>
        <button type="" form="">Ajouter au panier</button>
    </div>
</div>
{% endblock %}
