{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}
<main>
    <h1>Paiement annulé</h1>
    <p>Votre paiement a été annulé. Vous pouvez retourner sur la page <a href="{{ path('home') }}">d'accueil</a>.</p>
</main>
{% endblock %}