{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
<h1>Paiement réussi</h1>
<p>Merci pour votre commande !</br>
Vous pouvez retourner sur la page <a href="{{ path('home') }}">d'accueil</a>.</p>
{% endblock %}